src/IAC/.terraform.lock.hcl
src/IAC/.terraform/providers/registry.terraform.io/hashicorp/google-beta/7.5.0/darwin_arm64/LICENSE.txt
src/IAC/.terraform/providers/registry.terraform.io/hashicorp/google-beta/7.5.0/darwin_arm64/terraform-provider-google-beta_v7.5.0_x5
src/IAC/.terraform/providers/registry.terraform.io/hashicorp/google/7.5.0/darwin_arm64/LICENSE.txt
/src/IAC/.terraform
src/IAC/terraform.tfstate
src/IAC/terraform.tfstate.backup
